/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  margin: 0px;
  padding: 0px;
  font-family: "HelveticaNeueCyr", sans-serif;
}
/* header */
.menu-main {
  list-style: none;
  position: fixed;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 50px;

  background: rgb(0, 0, 0);
  z-index: 5;
}
.menu-main_logo{
  z-index: -5;
  background: linear-gradient(359deg, #ffffff, #5c5c5c);
  background-size: 400% 400%;
  -webkit-animation: logo_gradient 7s ease infinite;
  -moz-animation: logo_gradient 7s ease infinite;
  animation: logo_gradient 7s ease infinite;
  height: 50px;
  width: 50px;
}
@-webkit-keyframes logo_gradient {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes logo_gradient {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@keyframes logo_gradient {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
.menu-main_logo:active {
  outline: 0;
}

.header_button {
  text-decoration: none;
  font-family: "HelveticaNeueCyr", sans-serif;
  letter-spacing: 2px;
  position: relative;
  margin: 0 34px 0 34px;
  font-size: 17px;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.header_button:visited {
  color: rgb(190, 191, 195);
}
.header_button:hover {
  opacity: 0.7;
}

.header_button_active {
  text-decoration: none;
  font-family: "HelveticaNeueCyr", sans-serif;
  letter-spacing: 2px;
  position: relative;
  margin: 0 34px 0 34px;
  font-size: 17px;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.header_button_active:visited {
  color: white;
}

/* first page */
.header_text {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#parallax {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: calc(100% + 5px);
  height: 150%;
  background-image: url(Pic/dud.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
.contacts_menu{
  position: fixed;
  bottom: 0;
  right: 0;
  width : 90px;
  height: 250px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.header_title {
  font-weight: bold;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 42px;
  margin: 25px;
  color:white;
}

span{
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateY(50px);
  display: inline-block;  
}
span.fade{
  opacity: 1;
  transform: translateY(0px);
  animation-delay: 2s;
  animation: fly 4s ease-in-out infinite;

}
@keyframes fly{
  0%{
    color:rgba(217, 167, 233, 0.918);
    font-size: 42px;
  }
  50%{
    color:gold;
    font-size: 35px;

  }
  100%{
    color:rgba(217, 167, 233, 0.918);
    font-size: 42px;
  }
}
.ul_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.header_ul1 {
  list-style-type: none;
  font-size: 30px;
  line-height: 33px;
  display: block;
}
.header_ul1 > li {
  margin-top: 25px;
  margin-bottom: 25px;
}
.header_ul2 {
  list-style-type: none;
  font-size: 30px;
  line-height: 33px;
  display: block;
}
.header_ul2 > li {
  margin-top: 25px;
  margin-bottom: 25px;
}
.bg_video{
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
 overflow: hidden;
  z-index: -2;
}

/* advertising/onboarding menu */
.advertising {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.advertising_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
}
/* slider */
.slider {
  position: relative;
  overflow: hidden;
  width: 700px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  width: 100%;
  height: 100%;
}

.slider__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  color: black;
  text-align: center;
  opacity: 0.5;
  height: 25%;
  width: 9%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control:hover,
.slider__control:focus {
  color: black;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 30%;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item > div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
  width: 100%;
  height: 100%;
}
/* slider 1 */

.slider1 {
  position: relative;
  overflow: hidden;
  width: 700px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.slider__wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.slider__item1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.slider__control1 {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  color: black;
  text-align: center;
  opacity: 0.5;
  height: 25%;
  width: 9%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control1:hover,
.slider__control1:focus {
  color: black;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_left1 {
  left: 0;
}

.slider__control_right1 {
  right: 0;
}

.slider__control1::before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 30%;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left1::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right1::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item1 > div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}

/* slider 2 */
.slider2 {
  position: relative;
  overflow: hidden;
  width: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.slider__wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  width: 100%;
  height: 100%;
}

.slider__item2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
}

.slider__control2 {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  color: black;
  text-align: center;
  opacity: 0.5;
  height: 25%;
  width: 9%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control2:hover,
.slider__control2:focus {
  color: black;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_left2 {
  left: 0;
}

.slider__control_right2 {
  right: 0;
}

.slider__control2::before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 30%;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left2::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right2::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item2 > div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* slider end */

.advertising_text {
  display: block;
  margin-top: 25px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 28px;
  line-height: 31px;
  color: black;
}
.advertising_autor {
  display: block;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 22px;
  line-height: 25px;
  margin-top: 20px;
  color: black;
}

/* product */
.product {
  position: absolute;
  left: 0;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  /* background-color: white; */
  height: 100%;
}
.product_title {
  display: block;
  font-weight: bold;
  font-family: "HelveticaNeueCyr", sans-serif;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 42px;
  margin: 25px;
  z-index: 8;
  background: -o-linear-gradient(150deg, black, #847996);
  background: linear-gradient(-60deg, black, #847996);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.product_title_active {
  display: block;
  font-weight: bold;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 42px;
  margin: 25px;
  background: -o-linear-gradient(150deg, black, #847996);
  background: linear-gradient(-60deg, black, #847996);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}



.product_wrapper {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.slider_wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider_wrapper1 {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
.product_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  background-color: gainsboro;
  transition: 0.5s ease-in;
}

.product_image {
  display: block;
  width: 100%;
  height: 0px;
  overflow: hidden;
  padding-bottom: 56.25%;
  background-color: white;
  
}
.product_img{
  transition: 0.5s ease-in;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  height: 196px;
}
.product_name {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: gold;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.product_name:hover {
  background-color: gray;
  color: rgb(0, 0, 0);
}
/* test id for img */
#product_img_1{
  transform: scale(1.5);
}
#product_img_2{
  transform: scale(1.4) rotate(15deg);
}
#product_img_3{
  filter: grayscale(100%);
}
#product_img_4{
  
}

#product_image_5{
  background-color: #1abc9c;
}







/* services */
.services {
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.services_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.sevices_image {
}
.sevices_image>img {
  width: 320px;
  height: 190px;
}
.sevices_text {
  width: 500px;
}
/* examples */
.example {
  position: absolute;
  left: 0;
  top: 50px;
  color: black;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.example_package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 25px;
}
.example_package_title {
  font-size: 25px;
  line-height: 28px;
}

.example_package_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 25px;
  line-height: 28px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30%;
}
/* clients */
.clients {
  position: absolute;
  left: 0;
  top: 50px;
  color: black;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: white; */
}
.client_wrapper {
  -ms-flex-item-align: center;
  align-self: center;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.client_row {
  -ms-flex-item-align: center;
  align-self: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.client {
  width: 210px;
  height: 210px;
  margin: 10px;
}

/* houston */
.houston {
  position: absolute;
  left: 0;
  top: 50px;
  color: black;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* contacts */
.contacts {
  position: absolute;
  left: 0;
  top: 50px;
  color: black;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* background-color: white; */
}

.active {
  color: white;
}
.active:hover {
  color: white;
  opacity: 1;
}
